# dependencias
node_modules/

# build
build/
dist/

# entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema operativo
.DS_Store

# editor
.vscode/
